
.green {
    width: 100%;
    &__columns {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $md3) {
            flex-direction: column;
        }
    }
    &__column {
        flex: 0 0 50%;

        @media (max-width: $md3) {
            flex: 0 0 auto;
            width: 100%;
        }

        &:nth-child(1),
        &:nth-child(3) {
            padding-right: 6.43rem;

            @media (max-width: $md3) {
                padding-right: 0;
            }

            @media (max-width: $md2) {
                padding-right: 5rem;
            }
        }

        &:nth-child(2) {
            margin-bottom: 1.2rem;
        }

        @media (max-width: $md3) {
            &:nth-child(1) {
                order: 3;
                margin-bottom: 1.4rem;
                padding: 0 3rem;
            }
            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(3) {
                order: 4;
                padding: 0 3rem;
            }
            &:nth-child(4) {
                order: 2;
                @media (max-width: $md3) {
                    margin-bottom: 2rem;
                }
            }
        }

        @media (max-width: $md4) {
            &:nth-child(1) {
                padding: 0 0rem;
            }
            &:nth-child(3) {
                padding: 0 0rem;
            }
        }
    }
    &__buttons {
        display: flex;
    }
    &__button {
        margin-right: 2.86rem;
        position: relative;

        @media (max-width: $md4) {
            margin-right: 1.7rem;
        }

        &:last-child {
            margin-right: 0;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: -8px;
            width: 100%;
            height: 1px;
            background-color: $dark;
            transition: all ease 0.3s;
            opacity: 0;
        }

        &:hover {
            &::before {
                bottom: -5px;
                opacity: 1;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    &__slider {
    }
    &__garant {
        flex-grow: 1;
    }
    &__text {
    }
    &__image {
        width: 100%;
        min-height: 525px;
        height: 100%;
        position: relative;

        @media (max-width: $md2) {
            min-height: 470px;
        }

        @media (max-width: $md4) {
            min-height: 0px;
            height: 300px;
        }

        // @media(max-width:$md3){
        //     min-height: 470px;
        // }

        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.green-slider {
    position: relative;

    &__slides {
        height: 200px;
        position: relative;
        
        @media(max-width:$md4){
            height: 160px;
        }
    }
    &__slide {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all ease .3s;
        display: flex;
        z-index: 0;
        
        &.visible {
            opacity: 1;
            z-index: 1;
        }
    }
    &__arrows {
        position: absolute;
        left: calc(50% + 1.43rem);
        transform: translateY(50%);
        bottom: 0;
        z-index: 1;
    }
    &__arrow {
        width: 40px;
        position: relative;
        height: 15px;

        & img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: all ease 0.3s;

            &:nth-child(2) {
                opacity: 0;
            }
        }
        
        &:hover {
            & img {
                &:nth-child(1) {
                    opacity: 0;
                }

                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }

        &:nth-child(1) {
            margin-right: 1.57rem;
        }
    }
    &__arrow-before {
    }
    &__arrow-next {
    }
    &__arrows-wrap {
        display: flex;
    }
}

.green-slide {
    display: flex;
    &__column {
        flex: 0 0 50%;
        padding-bottom: 1rem;
        &:first-child {
            padding-right: 1.43rem;
        }
        &:last-child {
            padding-left: 1.43rem;
        }

        @media (max-width: $md2) {
            &:first-child {
                padding-right: 1rem;
            }
            &:last-child {
                padding-left: 1rem;
            }
        }
    }
    &__image {
        min-height: 200px;
        height: 100%;
        width: 100%;
        position: relative;

        @media (max-width: $md2) {
            min-height: 170px;
        }

        @media (max-width: $md3) {
            min-height: 200px;
        }

        @media (max-width: $md4) {
            min-height: 150px;
        }

        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        width: 100%;
        max-height: 100%;
        overflow: auto;
    }
}

.garant {
    display: flex;
    align-items: end;
    margin-top: 2rem;

    &__columns {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.43rem;
    }
    &__column {
        flex: 0 0 50%;
        padding: 0 1.43rem;
        margin-bottom: 1.36rem;

        @media (max-width: $md2) {
            margin-bottom: 1rem;
        }
    }
    &__title {
    }
    &__text {
        margin-top: 0.5rem;
    }
}
