.steps {
    padding-bottom: 10.7rem;
    
    @media(max-width:$md3){
        padding-bottom: 8rem;
    }
    &__body {
        display: flex;
        
        @media(max-width:600px){
            display: block;
        }
    }
    &__column {
        flex: 0 0 50%;
        
        &:first-child {
            padding-right: 6.43rem;
            
            @media(max-width:$md3){
                padding-right: 4rem;
            }
            
            @media(max-width:600px) {
                margin-bottom: 2.5rem;
                padding-right: 0;
            }
        }
    }
    
    &__steps {
        color: $grey;
        margin-bottom: 4.3rem;
        
        @media(max-width:$md3){
            margin-bottom: 3rem;
        }
    }
    
    &__title {
        margin-top: 1rem;
    }
    &__list {
    }
    &__item {
        margin-top: 2.14rem;
        
        &:first-child {
            margin-top: 0;
        }
    }
    &__number {
        font-size: 1rem;
        color: #868585;
    }
    &__text {
        font-size: 1rem;
        line-height: 1.4em;
    }
    &__image {
        position: relative;
        width: 100%;
        height: 100%;
        
        @media(max-width:600px){
            height: 500px;
        }
        
        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            left: 0;
            top: 0;
        }
    }
}